@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes animatePhoto {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
}

.animate-animatePhoto {
  animation: animatePhoto 5s infinite;
}
